.gallery {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.gallery h2 {
    margin: 0;
}

.gallery-container {
    max-width: 900px;
    width: 70%;
    margin: 50px auto;
    position: relative;
}

.slider-wrapper {
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 60px;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    opacity: 40%;
}

.shown {
    opacity: 100%;
}

.slide img {
    width: 100%;
    display: block;
    aspect-ratio: 3 / 2;
    object-fit: contain;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.arrow img {
    width: 40px;
    height: 40px;
}

.left-arrow {
    left: -50px;
}

.right-arrow {
    right: -50px;
}

.thumbnail-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.thumbnails {
    display: flex;
    justify-content: start;
    margin-top: 10px;
    transition: transform 0.5s ease-in-out;
    overflow-x: scroll;
    user-select: none;
    
    /* Hide scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */
}

.thumbnails::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.thumbnails img {
    flex-shrink: 0;
    height: 50px;
    object-fit: contain;
    margin: 0 5px;
    border: 2px solid transparent;
    pointer-events: none;
}

.thumbnails img.current {
    border-color: var(--yellow);
}

.recap-btn {
    width: 325px;
    background-color: var(--yellow);
    border-radius: 25px;
    padding: 12px 30px;
}
  
.recap-btn a {
    text-decoration: none;
    color: var(--teal);
    font-size: 1.3rem;
}