/* Define global CSS variables in :root */
:root {
    --yellow: #f3ff00;
    /* Bright Yellow */
    --wine: #440000;
    /* Deep Red */
    --teal: #002127;
    /* Dark Teal */
    --asty-font: 'CFAstyStd', Arial, sans-serif;
    --roca-font: 'Roca One', 'CFAstyStd', Arial, sans-serif;
}

* {
    cursor: url(images/hand-cursor.png), auto;
    box-sizing: border-box;
}

body {
    font-family: var(--asty-font);
    background-color: var(--teal);
    color: var(--yellow);
    margin: 0;
}

h1,
h2,
h3,
p {
    color: var(--yellow);
}

/* PAWPRINTS */
.pawprints {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
}

.pawprint {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url('images/pawprint.png') no-repeat center/contain;
    opacity: 0;
    transform: translateY(50px);
    rotate: 90deg;
    transition: opacity 0.5s linear;
}


main {
    position: relative;
}

/* Disable scrolling and pointer events during the entry transition */
.no-scroll {
    overflow: hidden;
    /* Prevent scrolling */
    pointer-events: none;
    /* Disable user actions */
}


/* Fullscreen Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 1;
    /* Initially visible */
    z-index: 1000;
    /* Overlay above everything */
    animation: hideBackground 0s 4s forwards, hideOverlay 0s 9s forwards;
}

/* Hide the overlay after animation */
@keyframes hideOverlay {
    100% {
        visibility: hidden;
        /* Hide the overlay after animation ends */
    }
}

/* Hide background */
@keyframes hideBackground {
    100% {
        background-color: transparent;
    }
}

/* SVG Styling */
.circle-mask {
    width: 100%;
    height: 100%;
}

/* Circle Animation */
#reveal-circle {
    animation: circleReveal 5s cubic-bezier(1, 0.3, 0.8, 0) forwards;
    animation-delay: 4s;
}

/* Animation for the Circle */
@keyframes circleReveal {
    0% {
        r: 0;
        /* Start with a tiny circle */
    }

    100% {
        r: 150;
        /* Expand the circle */
    }
}

.star {
    max-height: 150px;
    position: absolute;
    top: -20px;
    right: 51%;
}

/* Hero container */
.hero {
    min-height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 10%;
    gap: 0;
}


/* Hero text under the overlay */
.hero-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* animation: slideInRight 2s ease-out; */
}

#date {
    width: 50%;
    /* Make the image responsive */
    max-width: 400px;
    /* Ensure the image doesn't get too large */
}

#unlucky {
    width: 80%;
    /* Make the image responsive */
    max-width: 700px;
    /* Ensure the image doesn't get too large */
}

/* Slide-in effect for text and cat */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

/* Apply to all sections */
section {
    position: relative;
    font-size: 1.3rem;
}

.hero-text h1 {
    font-size: 8rem;
    margin: 0;
}

.hero-text p {
    font-size: 4rem;
    margin: 0;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.map-link {
    color: var(--yellow);
}

.desc {
    padding: 20px 40px;
    margin: 20px auto;
    max-width: 900px;
}

.theme-desc {
    position: relative;
    max-width: 900px;
    margin: auto;
    display: flex;
}

.ladder {
    float: left;
    max-height: 70vh;
    position: sticky;
    top: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
}

.when-where {
    font-size: 1.6rem;
    text-align: center;
}

.schedule {
    padding: 20px 40px;
    margin: 20px auto;
    text-align: left;
    max-width: 900px;
}

.schedule h1 {
    text-align: center;
    margin-bottom: 20px;
}

.schedule table {
    margin: auto;
    border-collapse: collapse;
}

.schedule td {
    padding: 10px;
    vertical-align: top;
}

.schedule td:first-child {
    font-weight: 300;
    text-align: right;
}

.schedule td:last-child {
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 1;
}

.duration {
    font-weight: 300;
    font-size: 1.2rem;
}


.marquee-wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    transform: translateX(0);
    transition: transform 0.1s linear;
}

.host {
    text-align: center;
}

#host {
    max-width: 900px;
    max-height: 400px;
}

.video-download {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
}

.wallpapers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: var(--yellow);
}

.wallpapers .title {
    margin: 0 0 20px;
}

.marquee-content pre {
    font-size: 4em;
    font-family: var(--roca-font);
}

.parallel-activities .desc {
    margin: 20px auto 0;
}

.parallel-activities ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parallel-activities li {
    margin: 15px 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parallel-activities p,
.parallel-activities h2 {
    color: var(--teal);
    text-align: center;
    margin: 8px 0 0;
}

.parallel-activities .bg {
    background-color: var(--yellow);
    z-index: -1;
}

.parallel-activities .w-img {
    max-width: 300px;
}

.workshops {
    position: relative;
}

.workshops .desc {
    margin: 0 auto;
    padding: 20px 40px 60px;
}

.workshops h3 {
    margin-top: 50px;
    text-align: center;
}

.bg {
    background-color: var(--wine);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -3;
}

.toggle-p {
    display: none;
}

.toggle-btn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.toggle-btn h4 {
    margin: 8px 0;
}

.w-img {
    width: 100%;
}

.organising-team {
    background-color: var(--wine);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Media Queries for Responsiveness */

/* Tablet */
@media (max-width: 800px) {
    .star {
        right: 20%;
    }

    .hero {
        flex-direction: column;
        /* Stack image and text vertically */
        gap: 15px;
        margin-top: 15%;
    }

    #date {
        width: 40%;
        /* Make the image responsive */
        max-width: 400px;
        /* Ensure the image doesn't get too large */
        margin-top: 15%;
    }

    #unlucky {
        width: 80%;
        /* Make the image responsive */
        max-width: 600px;
        /* Ensure the image doesn't get too large */
    }

    .marquee-content pre {
        font-size: 2.5rem;
    }

}

@media (max-width: 640px) {
    .video-download {
        flex-direction: column;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .star {
        max-height: 100px;
    }

    .hero {
        padding: 10px;
    }

    .marquee-content pre {
        font-size: 1.8rem;
    }

    .desc {
        font-size: 1.1rem;
        margin: 0;
    }

    .when-where {
        font-size: 1.25rem;
        margin: 0;
    }

    #host {
        width: 100%;
    }

    .schedule table, .duration {
        font-size: 1rem;
    }

    .schedule td:last-child {
        font-size: 1.2rem;
    }

    .organising-team img {
        width: 100%;
    }
}

.title {
    font-family: 'Roca One';
    text-align: center;
    font-size: 2.5rem;
}

video {
    border-radius: 7px;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}