#sponsors {
  padding: 40px;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
}

#sponsors h2, #sponsors h3 {
  color: var(--teal);
  font-family: 'Roca One';
  margin: 0;
}

.sponsors-container {
  max-width: 900px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.sponsors-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
  
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.tab {
  background-color: var(--teal);
  padding: 10px 15px;
  margin: 0;
  border-radius: 50px;
  color: var(--yellow);
  transition: transform 0.3s ease;
  font-size: 1.2rem; 
  text-align: center;
}

.tab:hover, .selected {
  background-color: var(--wine);
}

.tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px;
  text-align: center;
}

.tab-pane {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 15px;
  width: 100%;
}

#single-sponsor {
  justify-content: center;
}

.tab-pane img {
  max-width: 100px;
  max-height: 150px;
  margin: 15px;
  object-fit: contain;
  transition: transform 0.3s ease;
}
  
/* Responsive Adjustments */
@media (max-width: 800px) {
  .tab {
    padding: 8px 12px;
    font-size: 1.1rem;
  }

  .tab-pane img {
    max-width: 120px; /* Scale down logos for smaller screens */
    height: auto;
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .tab {
      font-size: 1rem;
  }

  .tab-pane img {
    max-width: 80px; /* Further scale down logos */
    max-height: 100px;
    margin: 8px;
  }
}